.first_part{
    
    width: 346px;
    height: 300px;
    border: 1px #d3d0d0 solid;
    position: absolute;
    top: 26%;
    left: 50%;
    margin: -161px 0 0 -173px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    text-align: center;

}
.first_part img{
    margin-top: 40px;
    object-fit: scale-down;
    width: 200px;
    height: 58px;
    margin-bottom: 36px;  
}
.first_part input{
    font-size: 13px;  /*  字體大小 */
    width: 247px;
    height: 17px;
    border:1px #d3d0d0 solid;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 10px ;
    margin-bottom:6px ;
}
.first_part button:disabled {
    background-color: rgb(42, 116, 184);
    color:rgb(223, 223, 223);
    cursor: default;
  
}
.first_part button{
    width: 270px;
    margin-top:8px ;
    margin-bottom: 5px;
    padding: 5px 0px;
    border: none;
    color: #ffffff;
    background-color: #0095f6;
    border-radius: 7px;
    font-size:15px ;
    cursor: pointer;  /* 滑鼠碰到出現手指*/
    
}
.first_part button:hover {
    background-color: rgb(24, 119, 242);
}
.first_part button:disabled:hover {
    background-color: rgb(42, 116, 184);
}
.first_part p{
   font-size: 13px;
   color: #585858;
   position: relative;
   display: inline-block;
   
}

.first_part p:before, .first_part p:after{          /*   注意 注意   */
    content: "";
    position: absolute;
    height: 1px;                        /*線粗度*/
    background-color: #cdcdcd;        /*線顏色*/      
    width: 110px;                       /*左右線寬*/
    top: 50%;                           /*線上下移動*/
}
.first_part p:before{
    left: -130px;                       /*線左起點位置*/
  }
  .first_part p:after{
    right: -130px;                      /*線右終點位置*/
  }
.second_part{
    width: 346px;
    border: 1px #d3d0d0 solid;
    position: absolute;
    top: 43%;
    left: 50%;
    margin: 0 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-bottom: none;

}
.second_part img{
    margin-top: 32px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer; 
}
.second_part a {
    margin-top: 32px;
    font-size: 15px;
    text-decoration: none;  /* 不要底線 */
    color: rgb(15, 66, 123);
}
.third_part{
    width: 346px;
    border: 1px #d3d0d0 solid;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: 0 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: none;
    
}
.third_part a{
    margin-top: 24px;
    margin-bottom: 22px;
    font-size: 13px;
    text-decoration: none;  /* 不要底線 */
    color: rgb(15, 66, 123);
}
.fourth_part{
    width: 346px;
    height: 60px;
    border: 1px #d3d0d0 solid;
    position: absolute;
    top: 58%;
    left: 50%;
    margin: 4px 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.fourth_part p{
    font-size: 15px;
}
.fourth_part a{
    font-size: 15px;
    text-decoration: none;  /* 不要底線 */
    color: rgb(38, 146, 235);
}
.fifth_part{
    width: 346px;
    height: 30px;
    
    position: absolute;
    top: 67%;
    left: 50%;
    margin: 4px 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.fifth_part p{
    font-size: 15px;
}
.sixth_part{
    width: 346px;
    height: 50px;
    
    position: absolute;
    top: 73%;
    left: 50%;
    margin: -8px 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
#apple{
    width: 135px;
    margin-right: 7px;
}
#google{
    width: 135px;
}
.seventh_part{
    width: 80%;
    height: 100px;
    position: absolute;
    top: 82%;
    margin: -8px 0 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
footer li{
    
    display:inline ;  /* 橫向排列 */
    white-space: nowrap;  /* 換行以li為單位 */  
}
footer a{   
    font-size: 13px;
   
    color: #838080;
    text-decoration: none;
    margin-right: 8px; 
}
footer a:hover{
    text-decoration: underline;
}
.eighth_part{
    width: 346px;
    height: 20px;
    
    position: absolute;
    top: 94%;
    left: 50%;
    margin: -8px 0 0 -173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.eighth_part p{
    color: #838080;
    font-size:13px ;
    
}

